.profilePic{
    width: 350px;
    height: 350px;
    border-radius: 2%;
    opacity: 0.8;
}
.thought{
    margin: 3%;
    padding: 2%;
}

h4{
    color: #FA5262;
    font-size: 3rem;
}
h4, .card-panel, .hello, .card-content, .card .card-title{
    font-family: 'Lato', Arial, sans-serif;
}
.card-panel{
    box-shadow: none;
    padding: 0%;
}
.desAboutMe{
    font-size: 18px;
}
.hello{
    font-size: 2rem;
}
@media (max-width: 700px) {
    .profilePic{
        width: 300px;
        height: 300px;
    }
}