#home{
    background-color: #ffff;
}
#portfolioMobile{
    display: none;
}
.mobileNavSection{
    display: none;
}
section{
    min-height: 100vh;
}
h1{
    font-size: 90px;
    color: #14CAB4;
    margin-bottom: 0%;
}
h1, #hero{
    font-family: 'Lato', Arial, sans-serif;
    text-align: left;
    margin-left: 10%;
}
#hero{
    font-size: 60px;
    color: #FA5262;
}
.mainPic{
    width: 20rem;
    height: 20rem;
}

@media (max-width: 700px) {
    h1{
        font-size: 50px;
    }
    #portfolioMobile, .mobileNavSection{
        display: block;
    }
    #portfolio, .navWebSection{
        display: none;
    }
}

