.proImg{
    background-size: cover;
    opacity: 0.5;
    margin-left: 20%;
}
.proImgDos{
    background-size: cover;
    opacity: 0.5;
    margin-top: 7%;
}
.proImg:hover{
    opacity: 1;
}
.card{
    margin: 2%;
}
.projectsBox{
    min-height: 100vh;
    padding: 6% 0% 8% 0%;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #14CAB4;
    font-size: 20px;

}
.card-content{
    color: #FA5262;
    font-size: 20px;
}
.card .card-title {
    font-weight: 900;
    font-size: 40px;
    padding-bottom: 3%;
    color: #FA5262;
}
p{
    word-break: keep-all;
    text-align: left;
    color: #533E35;
}
@media (max-width: 700px) {
    .card .card-title {
        font-size: 24px;
    }
    .card-content{
        color: #14CAB4;
        font-size: 18px;
    }
}
@media (min-width: 700px) and (max-width: 1000px){
    .proImg{
        margin-left: 0%;
    }
}