
.pyramid {
    box-sizing: border-box;
    padding-top: 2px; 
}
.pyramid .block {
    text-align: center;
    display: inline-block;
    height: 50px;
    margin: 1%;
    margin-bottom: 5px;
}
.snip1489{
    margin: 0%;
}
@media (max-width: 600px) {
    .mochaIcon{
        display: none;
    }
    .pyramid .block {
        margin: 4%;

    }

}