h5{
    color: #FA5262;
}
.skillsIcon{
    color: #FA5262;
    font-size: 0.3em;
}
.skills{
    font-size: 4rem;
    margin-top: 5%;
}
.colored{
    color: #81E0C0 !important;
    font-size: 30px;
}
.materialize{
    height: 30px;
}
.npm{
    height: 20px;
}
.snip1489{
    width: 70px;
    height: 70px;
    margin: 35px;
}
@media (max-width: 700px) {
    .skills{
        font-size: 2.5rem;
    }
    .materialize{
        height: 20px;
    }
    .npm{
        height: 13px;
    }
    .colored{
        color: #81E0C0 !important;
        font-size: 20px;
    }

}
@media (max-width: 600px) {
    .snip1489{
        width: 55px;
        height: 55px;
        margin: 15px;
        line-height: 45px;
    }

}
