h5{
    color: #FA5262;
}
.skillsIcon{
    color: #FA5262;
    font-size: 0.3em;
}
.skills{
    font-size: 5rem;
}
.colored{
    color: #81E0C0 !important;
    font-size: 30px;
}
.materialize{
    height: 30px;
}
.npm{
    height: 20px;
}